{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-img-container">
                <h1>PAS ENCORE DE COMPTE ?</h1>
                <a class="btn btn-primary" href="{{ path('users_register') }}">CRÉER UN COMPTE</a>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="h3 font-weight-normal">CONNEXION</h2>
            <a class="link-account-mobile" href="{{ path('users_register') }}">Créer un compte</a>
            <p>Vous avez dèjà un compte? Connecter-vous !</p>
            <label for="username">Username :</label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
            <label for="password">Mot de passe :</label>
            <div class="password-container">
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <div class="show-password">Afficher</div>
            </div>
            <a class="login-forgot-password" href="{{ path('users_passwordrestauration') }}">Mot de passe oublié ?</a>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            #}

            <button class="btn btn-lg btn-primary mt-3" type="submit">
                CONNEXION
            </button>
        </form>
    </div>
{% endblock %}
