{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1">NOUVEAUTÉS</h1>
    <div class="home-page-body">
        <div class="films-container-home">
            {% for film in films %}
                <div class="film-container-home">
                    <a href="{{ path('films_show', {'id': film.id}) }}" class="film-hover-home">VOIR LES SÉANCES</a>
                    <a href="{{ path('films_show', {'id': film.id}) }}"><img src="{{ asset('uploads/' ~ film.getImgPath()) }}" alt="{{ film.title }}" class="img-film-home"></a>
                    <a href="{{ path('films_show', {'id': film.id}) }}" class="film-title-home">{{ film.title }} ({{ film.year }})</a>
                    <p class="film-date-home">Ajouté : {{ film.dateAdd|date('d.m.Y') }}</p>
                </div>
            {% else %}
                <div>
                    <h3 colspan="3">Aucune nouveauté trouvée : revenez vers notre site plus tard pour voir les nouveautés !</h3>
                    <p>Pour voir toutes les séances veuillez entrer votre compte et accéder la page "Réserver".</p>
                </div>
            {% endfor %}
            {% if totalPages > 1 %}
                {{ include('_partials/_pagination.html.twig', {
                    currentPage: currentPage,
                    maxPage: totalPages,
                    path: 'films_list'
                }) }}
            {% endif %}
        </div>
        <div class="filter-city filter-home">
            <div class="form-group">
                <label for="city_select">Séléctionner la ville :</label>
                <select name="city_select" id="city_select">
{#                        <option value="{{ path('films_list') }}">Toutes les villes</option>#}
                    <option value="Toutes les villes">Toutes les villes</option>
                    {% for city in cities %}
{#                        <option value="{{ path('films_list', {'city': city.id}) }}">{{ city.title }}</option>#}
                        <option value="{{ city.id }}">{{ city.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

{% endblock %}