{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des films</h1>
    {% if app.user %}
            <a class="btn btn-primary" href="{{ path('films_create') }}">Créer un film</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Année</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.year }}</td>
                <td>{{ film.genre.name }}</td>
                <td>
                    {% if is_granted('edit', film) %}
                        <a href="{{ path('films_edit', {'id': film.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="3">Aucun film trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}