{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1">NOUVEAUTÉS</h1>
    <div class="films-container-home">
        {% for film in films %}
            <div class="film-container-home">
                <a href="{{ path('films_show', {'id': film.id}) }}" class="film-hover-home">VOIR LES SÉANCES</a>
                <a href="{{ path('films_show', {'id': film.id}) }}"><img src="{{ asset('uploads/' ~ film.getImgPath()) }}" alt="{{ film.title }}" class="img-film-home"></a>
                <a href="{{ path('films_show', {'id': film.id}) }}" class="film-title-home">{{ film.title }}</a>
                <p class="film-date-home">Ajouté : {{ film.dateAdd|date('d.m.Y') }}</p>
            </div>
        {% else %}
            <div>
                <h3 colspan="3">Aucun film trouvé</h3>
            </div>
        {% endfor %}
    </div>

{% endblock %}