{% extends 'base.html.twig' %}

{% form_theme form with[
    'form/template.html.twig'
]%}

{% block body %}
    <film class="card">
        <div class="card-header">

            <h2 class="film-title-front">{{ film.title }} ({{ film.year }})</h2>
            <div class="film-note"></div>
            <div class="film-info-front-container">
                <div class="film-img">
                    <img src="{{ asset('uploads/' ~ film.getImgPath()) }}" class="img-film-front" width="250px" height="250px"/>
                </div>
                <div class="film-info-front">
                    <div><span>GENRE :</span>
                        {% if film.genres|length > 1 %}
                            {% for genre in film.genres|slice(0, (film.genres|length - 1)) %}
                                {{ genre.name }},
                            {% endfor %}
                            {% for genre in film.genres|slice((film.genres|length - 1), (film.genres|length)) %}
                                {{ genre.name }}
                            {% endfor %}
                        {% else %}
                            {% for genre in film.genres %}
                                {{ genre.name }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <span>FORMATS :</span>
                        {% if formats|length > 1 %}
                            {% for format in formats|slice(0, (formats|length - 1)) %}
                                {{ format }},
                            {% endfor %}
                            {% for format in formats|slice((formats|length - 1), (formats|length)) %}
                                {{ format }}
                            {% endfor %}
                        {% else %}
                            {% for format in formats %}
                                {{ format }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="film-description-front">
                        <span>DESCRIPTION :</span>
                        <div>{{ film.description }}</div>
                    </div>
                </div>
            </div>

            <h4 class="mb-4">SÉANCES :</h4>
            <table class="table" id="frontSeances">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Format</th>
                    <th>Places restants</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for seance in seances %}
                    <tr>
                        <td>{{ seance.getTimeStart|date('d.m.Y') }}</td>
                        <td>{{ seance.getTimeStart|date('H:i') }}-{{ seance.getTimeEnd|date('H:i') }}</td>
                        <td>{{ seance.getIdRoom.getFormat.title }}</td>
                        <td>{{ seance.restingPlaces }}</td>
                        <td>{{ seance.getPriceTtc }}€</td>
                        <td>
                            <div class="btn btn-primary show-seance-details">SÉLÉCTIONNER LES SIÈGES</div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">Aucune séance trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </film>

    <h5 class="comment-title-front">COMMENTAIRES :</h5>



    <div class="mt-3 mb-5">

        {% for comment in film.comments %}

            {% if comment.getStatus == 'PUBLISHED' %}
                <div class="card mt-3">
                    <div class="card-header comment-front">
                        <div>
                            {{ comment.user.username }}
                        </div>
                        <div>
                            {{ comment.getdateAdd|date('d/m/Y H/i') }}
                        </div>
                    </div>
                    <div class="card-body comment-front-content">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="card">
                <div>
                    <p>Aucun commentaire</p>
                </div>
            </div>
        {% endfor %}

    </div>
    {% if app.user%}
        <a href="{{ path('comments_create', {'film': film.id}) }}" data-turbo-frame="comment" class="btn-add-comment mt-3">
            Ajouter un commentaire...
        </a>
    {% endif %}
    <turbo-frame id="comment"></turbo-frame>
{% endblock %}