{% extends 'base.html.twig' %}

{% form_theme form with[
    'form/template.html.twig'
]%}

{% block body %}

        <h2 class="form-film-h2">{{ is_create ? 'Ajouter une séance' : 'ID ' ~ seance.id }}</h2>

    <div class="form-film">
        {{ form_start(form) }}

        <div>
            <div class="form-group">
                <label for="date_select">Date :</label>
                {% if is_create %}
                    <input type="date" class="form-control input-date-custom" id="input-date-custom" name="date_select">
                {% else %}
                    <input type="date" class="form-control input-date-custom" id="input-date-custom" name="date_select" value="{{ seance.getTimeStart|date('Y-m-d') }}">
                {% endif %}

            </div>

            {{ form_label(form.time_start) }}
            {{ form_row(form.time_start) }}

            {{ form_label(form.time_end) }}
            {{ form_row(form.time_end) }}

            <div class="form-group">
                <label for="city_select">Cinéma :</label>
                {% if is_create %}
                <select id="city_select" name="city_select">
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.title }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <select id="city_select" name="city_select">
                    <option value="{{ seance.getIdRoom.getIdCity.id }}" selected>{{ seance.getIdRoom.getIdCity.title }}</option>
                    {% for city in cities %}
                        {% if city.id is not same as(seance.getIdRoom.getIdCity.id) %}
                            <option value="{{ city.id }}">{{ city.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% endif %}
            </div>

            {{ form_label(form.id_room) }}
            {{ form_row(form.id_room) }}

            <a href="{{ path('seances_list') }}" class="btn btn-primary">Retour</a>
        </div>
        <div class="form-custom-column-container">
            <div class="form-custom-column-seance">
                {{ form_label(form.id_film) }}
                {{ form_row(form.id_film) }}

                {{ form_label(form.price_ttc) }}
                {{ form_row(form.price_ttc) }}
            </div>

            <div class="film-form-actions">
                {% if not is_create %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('seances_delete', {'id': seance.id}) }}" class="btn btn-primary btn-delete-film">Supprimer</a>
                    {% endif %}
                {% else %}
                    <div class="btn-delete-film"></div>
                {% endif %}

                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}