<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
                <a href="{{ path('films_list') }}" class="navbar-brand"><img src="{{ asset('images/logo.svg') }}" width="225px" height="83px"/></a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('films_collection') }}">Films</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('films_reservationlist') }}">Réserver</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('users_contact') }}">Contactez-nous</a>
                        </li>
                        {% if app.user and app.user.getRoles[0] == 'ROLE_USER' %}
                            <li>
                                <a class="dropdown-item" href="{{ path('users_myaccount', {'id': app.user.id}) }}" >Mon compte</a>
                            </li>
                        {% endif %}
                        <li>
                            {% if not app.user %}
                                <a class="dropdown-item connexion-btn" href="{{ path('app_login') }}">Se connecter</a>
                            {% else %}
                                <a class="dropdown-item connexion-btn" href="{{ path('app_logout') }}">Se déconnecter</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('films_collection') }}">Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('films_reservationlist') }}">Réserver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users_contact') }}">Contactez-nous</a>
                    </li>
                    {% if app.user and app.user.getRoles[0] == 'ROLE_USER' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users_myaccount', {'id': app.user.id}) }}" >Mon compte</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if not app.user %}
                            <a class="nav-link connexion-btn" href="{{ path('app_login') }}">Se connecter</a>
                        {% else %}
                            <a class="nav-link connexion-btn" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

    </header>
        <div class="container">
            <input type="hidden" id="cityIdSelected" value="" name="cityIdSelected">
            {% block body %}{% endblock %}

            <footer>
                <div>Cinéma séléctionné : Cinéphoria <span class="selected-city"></span></div>
                <div>
                    Téléphone : +33 123456789
                </div>
                <div class="timetable">
                    <div>Horaires : </div>
                    <div>
                        <div>Lun : 09h00 - 01h00</div>
                        <div>Mar : 09h00 - 01h00</div>
                        <div>Mer : 09h00 - 01h00</div>
                        <div>Jeu : 09h00 - 01h00</div>
                    </div>
                    <div>
                        <div>Ven : 09h00 - 02h00</div>
                        <div>Sam : 09h00 - 02h00</div>
                        <div>Dim : 09h00 - 02h00</div>
                    </div>
                </div>
            </footer>
        </div>

    <turbo-frame id="main-modal" class="modal" tabindex="-1" aria-hidden="true"></turbo-frame>


    </body>
</html>
