{% extends 'base.html.twig' %}

{% form_theme form with[
    'form/template.html.twig'
]%}

{% block body %}
    <div class="contact-container">
        <h2 class="h3 font-weight-normal">CONTACTEZ-NOUS</h2>
        <p>Si vous avez besoin de notre aide, n’hésitez pas à nous contacter.</p>
        <div class="contact-form-container">
            {{ form_start(form) }}
            <div>
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.object) }}
                {{ form_row(form.email) }}
            </div>
            <div>
                {{ form_row(form.message) }}
                <div><button type="submit" id="contact_submit" name="contact[submit]" class="btn btn-primary">Envoyer</button></div>
            </div>
            {{ form_end(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}