{% extends 'base.html.twig' %}

{% form_theme form with[
    'form/template.html.twig'
]%}

{% block body %}
    <div class="register-container">
        <div class="passwordrestauration-img-container">
            <h1>VOUS AVEZ DÉJÀ UN COMPTE ?</h1>
            <a class="btn btn-primary" href="{{ path('app_login') }}">CONNECTEZ-VOUS</a>
        </div>
        <div class="register-form-container">
            <h2 class="h3 font-weight-normal">RÉCUPÉRATION DU MOT DE PASSE</h2>
            <a class="link-account-mobile" href="{{ path('app_login') }}">Connexion</a>
            <p>Créer votre mot de passe.</p>
            {{ form_start(form) }}

            <div class="password-container">
            {{ form_row(form.password) }}
            <div class="show-password">Afficher</div>
            </div>
            <div class="new-password-btn-container"><button type="submit" id="newpassword_submit" name="newpassword[submit]" class="btn btn-primary">
                    CRÉER UN NOUVEAU MOT DE PASSE
                </button></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}