{% extends 'base.html.twig' %}

{% form_theme form with[
    'form/template.html.twig'
]%}

{% block body %}
    <div class="register-container">
        <div class="passwordrestauration-img-container">
            <h1>VOUS AVEZ DÉJÀ UN COMPTE ?</h1>
            <a class="btn btn-primary" href="{{ path('app_login') }}">CONNECTEZ-VOUS</a>
        </div>
        <div class="register-form-container">
            <h2 class="h3 font-weight-normal">RÉCUPÉRATION DU MOT DE PASSE</h2>
            <a class="link-account-mobile" href="{{ path('app_login') }}">Connexion</a>
            <p>Si votre compte existe un mail vous sera envoyé avec les instructions de réinitialisation de votre mot de passe.</p>
            {{ form_start(form) }}

            {{ form_row(form.email) }}
            <div class="forgotten-password-btn-container"><button type="submit" id="passwordrestauration_submit" name="passwordrestauration[submit]" class="btn btn-primary">
                    RECEVOIR UN EMAIL
                </button></div>
            {{ form_end(form) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="margin-top: 15px;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}